$vars: (
  primary-blue: #0ea5dc,
  dark-blue: #0773a1,
  light-blue: #b6e5f5,
  black-color: #000,
  dark-black: #010101,
  white-color: #fff,
  light-white: #f7f7f7,
  lighter-white: #fff6f7,
  dark-grey: #666,
  pink: #ed7372,
  error: #991c20
);
